fw-margin = 10px
fw-margin-small = 5px
fw-margin-large = 20px

fw-font-size-base = 16px

fw-font-color-base = #1d1d1d
fw-font-color-custom = #31b0d5

fw-background = #e8e8e8
fw-background-custom = #f5f5f5

fw-border-radius = 4px
fw-border-radius-small = 3px
fw-border-radius-large = 8px

fw-border-color-base = #e1e1e8

fw-btn-text-color = #fff
fw-btn-bg-color = #0B8D00
fw-btn-border-color = #0B8D00
fw-btn-text-hover-color = #fff
fw-btn-bg-hover-color = #097000
fw-btn-border-hover-color = #097000

fw-text-scroll-height = 300px
fw-box-scroll-height = 200px


